{% extends "./base.html" %}

{% load static %}


{% block header_content %}

  <form class="form-inline" action="../substitute/" method="get" >
    {% csrf_token %}
    {{ form.search_input }}
  </form>

  {% if user_id %}
  <div>
    {% include 'header_connected.html' %}
  </div>
  {% else %}
  <div>
    {% include 'header_disconnected.html' %}
  </div>
  {% endif %}
{% endblock %}





{% block image_background_content %}{{product.url_image}}{% endblock %}






{% block accroche_content %}
	{{ product.name }}
{% endblock %}

{% block accroche_plus_content %}
	Détail du produit 
{% endblock %}





{% block detail_content %}





<div class="detail_content" >










<div class="col-12" class="nutriscore" style="height: 120px; display: flex; justify-content: center; align-items: center; font-size: 180%; color: green; cursor: pointer;"><img style="height: 100%; border-radius: 15px;" src='../../static/substitutor/img/nutriscore_{{ product.nutriscore }}.png' ></div>


<div class="col-12" style="text-align: center; display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 20px; font-size: 120%;" > 
  <div style="font-size: 70%; color: silver;" >
    Quantité
  </div>
  <div  class="col-8" style="border-bottom: solid 1px; display: flex;justify-content: center; align-items: center;"  >
    {{ product.quantite }} 
  </div> 
</div>
<div class="col-12" style="text-align: center; display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 20px; font-size: 120%;" > 
  <div style="font-size: 70%; color: silver;" >
    Marque
  </div>
  <div  class="col-8" style="border-bottom: solid 1px; display: flex;justify-content: center; align-items: center;"  >
     {{ product.marque }} 
  </div>
</div>

<div class="col-12" style="text-align: center; display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 20px; font-size: 120%;" >

  <div style="font-size: 70%; color: silver;" >
    Labels
  </div>
  <div  class="col-8" style="border-bottom: solid 1px; display: flex;justify-content: center; align-items: center;"  >
     {{ product.labels }}
  </div>

</div>

<div class="col-12" style="text-align: center;  display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 20px; font-size: 120%;" >

  <div style="font-size: 70%; color: silver;" >
    Ingrédients
  </div>
  <div   class="col-8" style="border-bottom: solid 1px; display: flex;justify-content: center; align-items: center;" >
     {{product.ingredients }}
  </div>


</div>
<div class="col-12" style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 20px; font-size: 120%;" >
    <div style="font-size: 70%; color: silver;" >
      Produits provoquant des allergies ou des intolérances
    </div>
    <div class="col-8" style="border-bottom: solid 1px; display: flex;justify-content: center; align-items: center;" >
       {{ product.produits_provoqu_allergies }}
    </div>
</div>
<div class="col-12" style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 20px; font-size: 120%;" >

  <div style="font-size: 70%; color: silver;" >
    Traces eventuelles
  </div>
  <div class="col-8" style="border-bottom: solid 1px; display: flex;justify-content: center; align-items: center;" >
      {{ product.traces_eventuelles }} 
  </div>


</div>

<div class="col-12" style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 20px; font-size: 120%;" > 

  <div style="font-size: 70%; color: silver;" >
    Lien vers page openfoodfact du produit
  </div>
  <a href="{{ product.lien_o_ff }} "  class="col-8" style="border-bottom: solid 1px; display: flex;justify-content: center; align-items: center;" >
     {{ product.lien_o_ff }} 
  </a>


</div>

<div class="col-12" style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 20px; font-size: 120%;" >
  <div style="font-size: 70%; color: silver;" >
    Magasins
  </div>

  <div class="col-8" style="border-bottom: solid 1px; display: flex;  flex-direction: column;  justify-content: center; align-items: center;" >
    {% for store in stores %}
      <div  class="col-12" style="text-align: center;"  > {{ store.name }} </div>
    {% endfor %}
  </div>
  
</div>
<div class="col-12" style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 20px; font-size: 120%;" >
  <div style="font-size: 70%; color: silver;" >
    Categories
  </div>
  <div class="col-8" style="border-bottom: solid 1px; display: flex; flex-direction: column; justify-content: center; align-items: center;" >
    {% for categorie in categories %}
      <div class="col-12" style="text-align: center;" > {{ categorie.name }} </div>
    {% endfor %}
  </div>
</div>

<div class="col-12" style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 20px; font-size: 120%;" >
  
  <div style="font-size: 70%; color: silver;" >
    Nutriments pour 100 g
  </div>
  <div class="col-8" style="border: solid silver 1px; border-radius: 5px; display: flex; flex-direction: column; justify-content: center; align-items: center; background: rgb(235, 235, 235); font-size: 90%; padding-top: 10px; padding-bottom: 10px;" >
    {% for nutriment_100g in nutriments_100g %}
      <div class="col-12 row" style="text-align: center; border-bottom: solid silver 1px;" >
        <div class="col-6 h-100" style="text-align: left;">
          {{ nutriment_100g.0 }}
        </div>
        <div class="col-6 h-100" style="text-align: right;">
          {{ nutriment_100g.1.0 }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>




<div class="contain_commentaire" style="width: 100%;" >

  <div class="contain_title_commentaire" style="width: 60%; margin: auto; border-top: solid 1px;  border-bottom: solid silver 1px; text-align: center; font-size: 300%;" >
    Commentaires
  </div>

  <div class="contenu_commentaires" style="margin-top: 50px; margin-bottom: 50px;" >
    
    {% for comment in comments %}

    <div class="contenu_commentaires" style=" margin: auto; margin-top: 10px; margin-bottom: 10px; padding-top: 50px; padding-bottom: 50px; border: solid rgb(163, 163, 163) 1px; width:70%; border-top-right-radius: 50px; border-bottom-right-radius: 50px; border-bottom-left-radius: 50px;" >
      <div class="contain_image_utilisateur" style="width: 100%; display: flex; align-items: center; flex-direction: column;" >
        <a class="account_button" style="display: flex; justify-content: center; align-items: center; width: 6%;" ><img src="{% static 'substitutor/img/logo_mon_compte.png' %}" style="max-width: 80%; max-height: 80%; " ></a>
        <div>{{ comment.commentator.name }}</div>
      </div>
      <div class="contain_commentaire_text" style="width: 100%;"  > 
        <div class="col-12" style="text-align: center; background: rgb(232, 232, 232); border-radius: 10px; width: 60%; margin: auto; margin-top: 10px; margin-bottom: 10px; word-wrap: break-word;" > {{ comment.contenu_text }} </div> 
        <div style="text-align: center; color: silver;" >{{ comment.date_insertion }}</div>
      </div>
    </div>
    {% endfor %}
  </div>




  <div class="message_confirmation_publication" style="display: none; color: green; width: 100%; text-align: center; margin-top: 20px; margin-bottom: 20px;" > Commentaire publié <br> Il sera visible après l'inspection de son contenu par un administrateur </div>
  
  <div class="contain_send_commentaire" style="margin-top: 50px; margin-bottom: 50px; height: 300px;" >
    <div class="comments_space" style="height: 100%; display: flex; flex-direction: column; align-items: center; width: 90%; border: solid rgb(214, 214, 214) 1px; border-radius: 3px; background: white; margin: auto; margin-bottom: 5px; padding-bottom: 5px; padding-top: 5px;" >
      <textarea placeholder="Ajouter un commentaire" style="border-radius: 3px; font-size: 100%; width: 90%; margin-bottom: 5px; border: solid silver 1px; height: 80%;"  ></textarea>
      <div class="send_comment_button" style="font-size: 100%; width: 60%; display: flex; justify-content: center; align-items: center; height: 20%; background: rgb(10, 210, 255); color: white; border-radius: 5px; cursor: pointer;" id_product="{{ product.id }}" > Publier le commentaire </div>
    </div>
  </div>


</div>

  
</div>


<script src="{% static 'substitutor/js/pur_beurre.js' %}" ></script>



{% endblock %}