

{% load static %}

<div style="height: 50px; width: 100%;" class="collapse navbar-collapse" id="navbarResponsive">
    <div title="Mon compte" style="height: 50px; width: 50px; cursor: pointer; display: flex; justify-content: center; align-items: center;" >
    	<a href="../account" style="display: flex; justify-content: center; align-items: center;" ><img src="{% static 'substitutor/img/logo_mon_compte.png' %}" style="max-width: 80%; max-height: 80%; " ></a>
    </div>
    <div title="Mes aliments" style="height: 50px; width: 50px; cursor: pointer; display: flex; justify-content: center; align-items: center;" >
    	<a href="../favoris/" style="display: flex; justify-content: center; align-items: center;" ><img src="{% static 'substitutor/img/logo_mes_substituts.png' %}" style="max-width: 80%; max-height: 80%; border-radius: 50%; " ></a>
    </div>
    <div title="Deconnexion" style="height: 50px; width: 50px; cursor: pointer; display: flex; justify-content: center; align-items: center;" >
    	<a href="../home/?home_status=make_disconnection" style="display: flex; justify-content: center; align-items: center;" ><img src="{% static 'substitutor/img/logo_logout.jpeg' %}" style="max-width: 80%; max-height: 80%; border-radius: 50%;" ></a>
    </div>
</div>


