        <!-- Portfolio-->
        {% load static %}
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box d-flex justify-content-center" href="{% static 'substitutor/img/remy4.jpg' %}">
                            <img class="img-fluid" src="{% static 'substitutor/img/remy4.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box d-flex justify-content-center" href="{% static 'substitutor/img/colette.jpg' %}">
                            <img class="img-fluid" src="{% static 'substitutor/img/colette.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box d-flex justify-content-center" href="{% static 'substitutor/img/colette-8.jpg' %}">
                            <img class="img-fluid" src="{% static 'substitutor/img/colette-8.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box d-flex justify-content-center" href="{% static 'substitutor/img/remi-11.png' %}">
                            <img class="img-fluid" src="{% static 'substitutor/img/remi-11.png' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box d-flex justify-content-center" href="{% static 'substitutor/img/remy-5.jpg' %}">
                            <img class="img-fluid" src="{% static 'substitutor/img/remy-5.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box d-flex justify-content-center" href="{% static 'substitutor/img/remy-6.jpg' %}">
                            <img class="img-fluid" src="{% static 'substitutor/img/remy-6.jpg' %}" alt="" />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>