{% extends "./base.html" %}

{% load static %}

{% block header_content %}

  {% if user_id %}
  <div>
    {% include 'header_connected.html' %}
  </div>
  {% else %}
  <div>
    {% include 'header_disconnected.html' %}
  </div>
  {% endif %}
{% endblock %}





{% block image_background_content %}{% if resultats_product_page|length == 0 %}{{'../../static/substitutor/img/aucun_resultat.png'}}{% else %}{{product_to_treat.0.url_image}}{% endif %}{% endblock %}





{% block accroche_content %}
	{{product_to_treat.0.name}}
{% endblock %}





{% block accroche_plus_content %}

	Résultats de la recherche de <br> 
	{% if resultats_product_page|length == 0 %}
		{{caractere}}
	{% else %}
		{{product_to_treat.0.name}} <br> <div class="col-12" class="nutriscore" style="height: 80px; display: flex; justify-content: center; align-items: center; font-size: 180%; color: green; cursor: pointer;"><img style="height: 100%; border-radius: 15px;" src='../../static/substitutor/img/nutriscore_{{ product_to_treat.0.nutriscore }}.png' ></div>
	{% endif %}
	
{% endblock %}





{% block form_search_content %}
	<form class="form-inline" action="../substitute/" method="get" style="width: 100%; " >
		{% csrf_token %}
		{{ form.search_input }}
	</form>
{% endblock %}




{% block listing_product_content %}



	{% if resultats_product_page|length == 0 %}

		<div class="col-12 row" style="display: flex;justify-content: center;align-items: center;height: 120px; color: gray; font-size: 200%;">Aucun résultat</div>


	{% else %}

		<div class="col-12 row" style="display: flex;justify-content: center;align-items: center;height: 120px;">Vous pouvez remplcacer cet aliment par : </div>

		<div class="col-12 row" >

			{% for resultat_product_page in resultats_product_page %}

				<div class="col-4" style="" >

					<div class="conteneur_produit" style="width: 100%; border: solid silver 1px; margin: 10px; border-radius: 8px; background: rgb(245, 245, 245); transition: background 0.2s;">
						<a href="../{{resultat_product_page.1.id}}" class="contain_image" style="height: 350px; display: flex; justify-content: center; align-items: center; cursor: pointer;" >
							<img style="max-height: 100%; max-width: 100%; " src="{{ resultat_product_page.1.url_image }}">
						</a>
						<a href="../{{resultat_product_page.1.id}}" class="nom" style=" width: 100%; height: 35px; display: block; text-align: center; cursor: pointer;">{{ resultat_product_page.1.name }}</a>
						<a href="../{{resultat_product_page.1.id}}" class="col-12" class="nutriscore" style="height: 80px; display: flex; justify-content: center; align-items: center; font-size: 180%; color: green; cursor: pointer;"><img style="height: 100%; border-radius: 15px;" src='../../static/substitutor/img/nutriscore_{{ resultat_product_page.1.nutriscore }}.png' ></a>
						<div style="height: 50px; display: flex; justify-content: center; align-items: center; ">
							{% if resultat_product_page in list_product_favorite %}
								<div class="un_suscribe" id="un_suscribe_{{resultat_product_page.1.id}}_{{ product_to_treat.0.id }}" style="height: 60%;width: 70%; color: white; background: red; border-radius: 5px; text-align: center; cursor: pointer; border: solid red 1px; transition: background 0.2s;" id_product="{{ product_to_treat.0.id }}" id_substitut="{{ resultat_product_page.1.id }}" >
									Supprimer ce produit
								</div>
							{% else %}

								<div class="un_suscribe" id="un_suscribe_{{resultat_product_page.1.id}}_{{ product_to_treat.0.id}}" style="height: 60%;width: 70%; color: white; background: green; border-radius: 5px; text-align: center; cursor: pointer; border: solid green 1px; transition: background 0.2s;" id_product="{{ product_to_treat.0.id }}" id_substitut="{{ resultat_product_page.1.id }}" >
									Enregistrer ce produit
								</div>

							{% endif %}

						</div>
						<a href="../{{resultat_product_page.1.id}}" class="col-12" class="detail" style="width: 100%; height: 25px; display: flex; justify-content: center; align-items: center; font-size: 70%; color: gray;cursor: pointer;">Voir plus de detail</a>
						
					</div>

				</div>


			{% endfor %}

			


			<div class="col-12 row" style="height: 100px; " >
				<div class="col-6 h-100" style="display: flex;justify-content: center; align-items: center;" >
				{% if resultats_product_page.has_previous %}
				  <a class="col-3" style=" display: flex; justify-content: center; align-items: center; color: gray; border-radius: 10px; height: 50%; border: solid silver 1px;" href="?search_input={{caractere}}&page={{ resultats_product_page.previous_page_number }}">Précédent</a>
				{% endif %}
				</div>
				<div class="col-6 h-100" style="display: flex;justify-content: center; align-items: center;" >
				{% if resultats_product_page.has_next %}
				  <a class="col-3" style=" display: flex; justify-content: center; align-items: center; color: gray; border-radius: 10px; height: 50%; border: solid silver 1px;" href="?search_input={{caractere}}&page={{ resultats_product_page.next_page_number }}">Suivant</a>
				{% endif %}
				</div>
			</div>
			

			<script src="{% static 'substitutor/js/pur_beurre.js' %}" ></script>

	{% endif %}


	
	</div>


{% endblock %}